# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [1]:
import pandas as pd

# URL of the raw CSV file
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"

# Read the CSV file from the URL
insurnace_data = pd.read_csv(url)

# Display the first few rows of the dataframe
display(insurnace_data.head())

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [2]:
# Get the dimensions
num_rows, num_columns = insurnace_data.shape
print(f"The dataset has {num_rows} rows and {num_columns} columns.")

The dataset has 4008 rows and 11 columns.

In [3]:
# Get data types
data_types = insurnace_data.dtypes
print("Data types of each column:")
print(data_types)

Data types of each column:
Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

Number of Open Complaints     object

Customer Lifetime Value       object

sugesstion to fix the datatype for these columns.

In [4]:
print(insurnace_data['Customer Lifetime Value'].unique())

[nan '697953.59%' '1288743.17%' ... '2031499.76%' '323912.47%'
 '899704.02%']

In [5]:
print(insurnace_data['Number of Open Complaints'].unique())

['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]

In [6]:
# Extract numbers
insurnace_data['Number of Open Complaints'] = insurnace_data['Number of Open Complaints'].str.extract('(\d+)')[0].astype(float)

In [7]:
# Convert 'Customer Lifetime Value' to string type before using .str methods
insurnace_data['Customer Lifetime Value'] = insurnace_data['Customer Lifetime Value'].astype(str)

# Remove '%' from the string
insurnace_data['Customer Lifetime Value'] = insurnace_data['Customer Lifetime Value'].str.rstrip('%')

# Convert the cleaned string values (Customer Lifetime Value)  to a float and divide by 100
insurnace_data['Customer Lifetime Value'] = insurnace_data['Customer Lifetime Value'].astype(float) / 100

# Convert the column to numeric for calculations later
insurnace_data['Customer Lifetime Value'] = pd.to_numeric(insurnace_data['Customer Lifetime Value'], errors='coerce')
insurnace_data['Number of Open Complaints'] = pd.to_numeric(insurnace_data['Number of Open Complaints'], errors='coerce')

In [8]:
# Handling the missing values
insurnace_data['Customer Lifetime Value'].fillna(insurnace_data['Customer Lifetime Value'].median(), inplace=True)
insurnace_data['Number of Open Complaints'].fillna(0, inplace=True)  # Assuming 0 complaints as a default

<ipython-input-8-08351ef29cc6>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  insurnace_data['Customer Lifetime Value'].fillna(insurnace_data['Customer Lifetime Value'].median(), inplace=True)
<ipython-input-8-08351ef29cc6>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  insurnace_data['Number of Open Complaints'].fillna(0, inplace=True)  # Assuming 0 complaints as a default

In [9]:
# Check the first few rows to ensure conversion is successful
print(insurnace_data['Number of Open Complaints'].head())

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: Number of Open Complaints, dtype: float64

In [10]:
# Unique values per column

unique_values = insurnace_data.nunique()
print("Number of unique values per column:")
print(unique_values)

Number of unique values per column:
Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1028
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       2
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

Categorical columns: gender, education ,policy type ,vehicle class, ST

In [11]:
# Example for a categorical column
print("\nUnique values of GENDER column:")
print(insurnace_data['GENDER'].unique())

print("\nUnique values of Education column:")
print(insurnace_data['Education'].unique())

print("\nUnique values of Policy Type column:")
print(insurnace_data['Policy Type'].unique())

print("\nUnique values of Vehicle Class column:")
print(insurnace_data['Vehicle Class'].unique())

print("\nUnique values of ST column:")
print(insurnace_data['ST'].unique())

Unique values of GENDER column:
[nan 'F' 'M' 'Femal' 'Male' 'female']

Unique values of Education column:
['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]

Unique values of Policy Type column:
['Personal Auto' 'Corporate Auto' 'Special Auto' nan]

Unique values of Vehicle Class column:
['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]

Unique values of ST column:
['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]

Numerical columns:COSTUMER, Income, Monthly Premium Auto, Number of Open Complaints, Total Claim Amount

In [12]:
# Describe numerical columns
numerical_columns = ['Income','Customer Lifetime Value', 'Monthly Premium Auto', 'Number of Open Complaints', 'Total Claim Amount']
numerical_summary = insurnace_data[numerical_columns].describe()
print("Summary statistics for numerical columns:")
print(numerical_summary)

Summary statistics for numerical columns:
             Income  Customer Lifetime Value  Monthly Premium Auto  \
count   1071.000000              4008.000000           1071.000000
mean   39295.701214              6429.374870            193.234360
std    30469.427060              3442.622772           1601.190369
min        0.000000              2004.350700             61.000000
25%    14072.000000              5881.742350             68.000000
50%    36234.000000              5881.742350             83.000000
75%    64631.000000              5881.742350            109.500000
max    99960.000000             58166.553500          35354.000000

       Number of Open Complaints  Total Claim Amount
count                4008.000000         1071.000000
mean                    0.267216          404.986909
std                     0.442561          293.027260
min                     0.000000            0.382107
25%                     0.000000          202.157702
50%                     0.000000          354.729129
75%                     1.000000          532.800000
max                     1.000000         2893.239678

In [13]:
# Describe categorical columns
categorical_columns = ['GENDER', 'Education', 'Policy Type', 'Vehicle Class', 'ST']
categorical_summary = insurnace_data[categorical_columns].describe()
print("Summary statistics for categorical columns:")
print(categorical_summary)

Summary statistics for categorical columns:
       GENDER Education    Policy Type  Vehicle Class      ST
count     954      1071           1071           1071    1071
unique      5         6              3              6       8
top         F  Bachelor  Personal Auto  Four-Door Car  Oregon
freq      457       324            780            576     320

In [14]:
# summary statistics for numerical columns
mean_values = insurnace_data[numerical_columns].mean()
median_values = insurnace_data[numerical_columns].median()
std_dev = insurnace_data[numerical_columns].std()

# Display statistics
print(f'Mean values:\n{mean_values}')
print(f'Median values:\n{median_values}')
print(f'Standard deviation:\n{std_dev}')

Mean values:
Income                       39295.701214
Customer Lifetime Value       6429.374870
Monthly Premium Auto           193.234360
Number of Open Complaints        0.267216
Total Claim Amount             404.986909
dtype: float64
Median values:
Income                       36234.000000
Customer Lifetime Value       5881.742350
Monthly Premium Auto            83.000000
Number of Open Complaints        0.000000
Total Claim Amount             354.729129
dtype: float64
Standard deviation:
Income                       30469.427060
Customer Lifetime Value       3442.622772
Monthly Premium Auto          1601.190369
Number of Open Complaints        0.442561
Total Claim Amount             293.027260
dtype: float64

In [15]:
# summary statistics for categorical columns
print(insurnace_data[categorical_columns].value_counts())

GENDER  Education             Policy Type    Vehicle Class  ST
F       High School or Below  Personal Auto  Four-Door Car  Oregon        18
                                                            Arizona       17
        College               Personal Auto  Four-Door Car  Oregon        14
M       Bachelor              Personal Auto  Four-Door Car  Cali          14
F       Bachelor              Personal Auto  Four-Door Car  Oregon        13
                                                                          ..
                                             Luxury SUV     Nevada         1
M       Bachelor              Personal Auto  SUV            Cali           1
                                                            Nevada         1
F       Bachelor              Personal Auto  Luxury SUV     California     1
female  Master                Personal Auto  Two-Door Car   Washington     1
Name: count, Length: 418, dtype: int64

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [21]:
location_counts = insurnace_data['ST'].value_counts()
location_counts_sorted = location_counts.sort_values(ascending=True)
top_5_less_common = location_counts_sorted.head(5)
print("Top 5 less common customer locations:")
print(top_5_less_common)

Top 5 less common customer locations:
ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [23]:
total_policies_sold = insurnace_data['Policy Type'].value_counts()
policy_type_with_most_policies = total_policies_sold.idxmax()
print("Total number of policies sold for each type:")
print(total_policies_sold)

print("\nPolicy type with the most policies sold:")
print(policy_type_with_most_policies)

Total number of policies sold for each type:
Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

Policy type with the most policies sold:
Personal Auto

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [25]:
average_income_personal_auto = insurnace_data.loc[insurnace_data['Policy Type'] == 'Personal Auto', 'Income'].mean()
average_income_corporate_auto = insurnace_data.loc[insurnace_data['Policy Type'] == 'Corporate Auto', 'Income'].mean()

print(f"Average income for Personal Auto policies: ${average_income_personal_auto:.2f}")
print(f"Average income for Corporate Auto policies: ${average_income_corporate_auto:.2f}")

Average income for Personal Auto policies: $38180.70
Average income for Corporate Auto policies: $41390.31

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [19]:
# Your code here